<a href="https://colab.research.google.com/github/2303a51732santhosh/2303a51732-application-of-datamining/blob/main/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
file_path = "/content/student-dataset.csv"
df = pd.read_csv(file_path)

In [3]:
print("Original Dataset:")
print(df.head())

Original Dataset:
   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22            3.5         3.7             3.1
1     34.39    -118.54      M   22            2.9         3.2             3.6
2     37.80    -122.27      F   22            3.9         3.8             3.2
3     37.69    -122.09      F   20            3.3         2.8             NaN
4    -23.18     -45.88      F   21            3.7         2.6             3.4

   language.grade  portfolio.rating  coverletter.rating  refletter.rating
0             1.0                 4                 4.0                 4
1             5.0                 5                 4.0                 5
2             5.0                 3                 3.0                 4
3             5.0                 5                 2.0                 4
4             1.0                 4                 4.0                 5

In [4]:
if 'science' in df.columns:
    median_science = df['science'].median()
    df['science'].fillna(median_science, inplace=True)

In [6]:
scaler = MinMaxScaler()
df[["math.grade","sciences.grade","language.grade"]]=scaler.fit_transform(df[["math.grade","sciences.grade","language.grade"]])

In [7]:
df

,id,name,nationality,city,latitude,longitude,gender,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,22,3.5,0.842105,0.653846,0.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,22,2.9,0.578947,0.846154,1.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,22,3.9,0.894737,0.692308,1.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,20,3.3,0.368421,NaN,1.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,21,3.7,0.263158,0.769231,0.0,4,4.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,302,Austin Haas,United States of America,Columbus,39.96,-83.00,M,20,3.6,0.842105,0.653846,1.0,4,5.0,5
303,303,Madison Fithian,United States of America,Los Angeles,34.05,-118.24,F,20,3.6,0.947368,1.000000,1.0,5,5.0,3
304,304,Zachary Mulvahill,United States of America,Los Angeles,34.05,-118.24,M,20,3.2,0.684211,0.961538,1.0,5,5.0,3
305,305,Eliana Michelsen,United States of America,Oakland,37.80,-122.27,F,23,3.0,0.368421,0.576923,1.0,4,4.0,5
306,306,Dane Whittemore,Canada,Toronto,43.67,-79.42,M,21,3.8,0.578947,1.000000,1.0,5,4.0,5

In [8]:
print("\nProcessed Dataset (After Imputation and Normalization):")
print(df.head())

Processed Dataset (After Imputation and Normalization):
   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22            3.5    0.842105        0.653846
1     34.39    -118.54      M   22            2.9    0.578947        0.846154
2     37.80    -122.27      F   22            3.9    0.894737        0.692308
3     37.69    -122.09      F   20            3.3    0.368421             NaN
4    -23.18     -45.88      F   21            3.7    0.263158        0.769231

   language.grade  portfolio.rating  coverletter.rating  refletter.rating
0             0.0                 4                 4.0                 4
1             1.0                 5                 4.0                 5
2             1.0                 3                 3.0                 4
3             1.0                 5                 2.0                 4
4             0.0                 4                 4.0                 5

In [9]:
df.to_csv("processed_student_dataset.csv", index=False)
print("\nProcessed dataset saved as 'processed_student_dataset.csv'")

Processed dataset saved as 'processed_student_dataset.csv'